doctype html
html(lang='en')
	head
		title Landing Page
	body
		h1 "The future home of something awesome!"
		p Mlkshk pop-up snackwave raclette franzen drinking vinegar tofu, man bun quinoa venmo echo park kitsch. Kitsch photo booth lyft migas coloring book authentic messenger bag ugh jianbing. Plaid meh sartorial, crucifix slow-carb vinyl church-key cray lomo chia. Letterpress hell of quinoa ethical hoodie tousled brunch. La croix roof party green juice, sustainable gastropub live-edge celiac next level cold-pressed brooklyn. Bushwick franzen snackwave succulents literally, distillery cred brooklyn godard tacos. Fingerstache vice intelligentsia meggings.

		p Trust fund VHS pok pok fanny pack austin kogi brunch franzen photo booth. Cred tote bag master cleanse, air plant man bun pitchfork butcher. Master cleanse health goth disrupt, lo-fi put a bird on it whatever cardigan raclette beard artisan swag hot chicken. Echo park dreamcatcher retro enamel pin thundercats pour-over. Pickled mixtape YOLO cray biodiesel distillery. Typewriter meh drinking vinegar, iPhone freegan fam vice wolf tilde semiotics williamsburg. Hella kogi cliche banjo affogato edison bulb, umami pop-up banh mi paleo listicle.